:host {
  --day-width: 35px;
  --day-height: 35px;
  --box-shadow: 0 4px 28px 0 rgb(0 0 0 / 92%);
  --border-radius: 8px;
  --color-border-default: #000000;
  --color-fg-primary:#3DC1C3;
}
.calendar {
  width: 330px;
}
.calendar>.days-grid>.day .day-price {
  font-size: 80%;
  color: #3DC1C3;
}
.calendar>.days-grid>.day.selected .day-price {
  color: #fff;
}

.container.show {
    box-shadow: 0 0 0px rgba(140, 140, 140, 0);
    border: 1px solid;
    border-color: #8c8c8c;
    border-radius: 8px;
    height: auto;
    border: 1px;
 
    transform:scale(1)
}

.container.inline {
    box-shadow: 0 0px 0px 0 rgba(65, 69, 88, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    transform:scaleY(1)
}
