:host {
  --day-width: 35px;
  --day-height: 30px;
  -box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
}
/* increase start and end */
.container.range-plugin .calendar>.days-grid>.day.start,
.container.range-plugin .calendar>.days-grid>.day.end {
  font-weight: bold;
  transform: scale(1.2);
  z-index: 1;
}
