:host {
  --day-width: 35px;
  --day-height: 30px;
  --box-shadow: none;
  --border-radius: 8px;
  --color-border-default: #000000;
}
.calendar {
  width: 330px;
}
.calendar>.days-grid>.day .day-price {
  font-size: 80%;
  color: #3DC1C3;
}
.calendar>.days-grid>.day.selected .day-price {
  color: #fff;
}
