:host {
  --day-width: 35px;
  --day-height: 35px;
  --box-shadow: 0 4px 28px 0 rgb(0 0 0 / 92%);
  --border-radius: 8px;
  --color-border-default: #000000;
  --color-fg-primary:#d9d9d9;
}
.calendar {
  width: 330px;
}
.calendar>.days-grid>.day .day-price {
  font-size: 80%;
  color: #3DC1C3;
}
.calendar>.days-grid>.day.selected .day-price {
  color: #fff;
}
